body {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  background-color: #f4f4f9;
}

/* Form Container */
.wrapper {
  background: linear-gradient(135deg, #0b3b52, #042028);
  color: white;
  padding: 40px 30px;
  border-radius: 20px;
  max-width: 400px;
  margin: 50px auto;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}


.container {
  background: linear-gradient(145deg, #0b3b52, #042028);
  color: white;
  padding: 30px 25px;
  border-radius: 15px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  border:1px solid #f7f7f7;
}

 textarea {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Label Styling */
.container label {
  display: block;
  font-size: 1.1em;
  margin-bottom: 8px;
  color: #f7f7f7;
}

/* Input Fields */
.container input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 2px solid #c0c0c0;
  border-radius: 10px;
  background-color: #f1f1f1;
  color: #333;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #49bcb5;
  outline: none;
}

.select {
  width: 100%;
  padding: 12px;
  font-size: 1em;
  border: 2px solid #c0c0c0;
  border-radius: 10px;
  background-color: #f1f1f1;
  color: #333;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.select:focus {
  border-color: #49bcb5;
  box-shadow: 0px 4px 10px rgba(73, 188, 181, 0.3);
  outline: none;
}



.imgLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: white;
  font-size: 1em;
  /* background-color: #096582; */
  padding: 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}



img {
  width: 100px;
  margin-bottom: 8px;
}

/* Submit Button */
.Btn {
  width: 100%;
  padding: 15px;
  font-size: 1.2em;
  font-weight: bold;
  color: #141315;
  background-color: #96e1dc;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 20px;
}

.Btn:hover {
  background-color: #49bcb5;
  transform: translateY(-3px);
}
