* {
  box-sizing: border-box; /* Ensures padding/border do not affect width */
}

.dashboard {
  display: flex;
  flex-direction: column; /* Use column layout */
  padding: 20px;
}

.content {
  flex: 1;
  margin: 0 auto; /* Center content */
  padding: 20px;
}

.topSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.statistics {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.statCard {
  text-align: center;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  background-color: #0b3b52;
  color: #5ae6dd;
}

.tableSection {
  margin-top: 40px;
}

.table {
  width: 100%; /* Ensure table takes up full width */
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  white-space: normal; /* Wrap long text */
  word-wrap: break-word; /* Break long words */
}

.table th {
  background-color: #007BFF;
  color: white;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}
